<div id="welcome">
  <div class="container">
    <h1>Bem vindo!</h1>
    <hr/>
    
    
    <% if(me.perfil=="desenvolvedor"){ %>
      
        
      
    <% } %>
    <% if(me.perfil=="professor"){ %>
      
        
      
    <% } %>
  </div>
</div>

  
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
