<div id="welcome">
  <div class="col-md-10 offset-md-2">
    <h1>Bem vindo!</h1>
    <hr/>
    
    {{ Userturma_adms }}
    <a v-for="Userturma_adm in Userturma_adms" href="#">{{ Userturma_adm.descricao }}</a>
    <% if(me.perfil=="desenvolvedor"){ %>
      
        
      
    <% } %>
    <% if(me.perfil=="professor"){ %>
      
        
      
    <% } %>
  </div>
</div>

  
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
