<div id="editor" v-cloak>
  <div class="jumbotron">
    <h2>Editor SGDDEDU</h2>
  </div>
    <div class="row">
      <div class="col-sm-6">
          <form action="game/create" method="GET">
           <input v-model="titulo" name="titulo" placeholder="Titulo"><br>
           <input v-model="autor" name="autor" placeholder="Autor"><br>
           <textarea v-model="historia" name="historia" placeholder="Historia"></textarea><br>
           <textarea v-model="jogo" name="jogo" placeholder="Jogo"></textarea><br>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>  
      </div>
      <div class="col-sm-6">
         <h1>{{ titulo }}</h1>
         <h4><i>Autor(a): {{ autor }}</i></h4>
         <h3>Historia</h3>
         <p style="white-space: pre-line;">{{ historia }}</p>
         <h3>Jogo</h3>
         <p style="white-space: pre-line;">{{ jogo }}</p>
      </div>
    </div> 
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
