
<body>
<meta charset="utf-8">  

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
<div id="editor" v-cloak>
  <div class="jumbotron">
    <h2>Editor SGDDEDU</h2>
  </div>
  
  <div class="conteiner">
    <div class="row">
      <div class="col-sm-12">
    
          <form action="Sgddedu/create" method="GET">
        <div class="input-group">
         <label for="comment">Titulo:</label>
           <input v-model="titulo" name="titulo" class="form-control" placeholder="Titulo" ><br>
        </div>  
        
        
           <input id="autor" v-bind:value="<%= me.id %>" name="autor"  class="form-control" style="display:none"><br>
        
        <div class="input-group">
         <label for="comment">História:</label>
           <textarea v-model="historia" name="historia" rows="5" class="form-control" placeholder="Historia"></textarea><br>
        </div> <br>
        <div class="input-group">      
         <label for="comment">Jogo:</label>
           <textarea v-model="jogo" name="jogo" rows="5" class="form-control" placeholder="Jogo"></textarea><br>
         </div> <br>
        
        <button type="submit" class="btn btn-primary">Submit</button>
                   
          </form>   

            
           
      </div>
              <div class="col-sm-12">
                 <h1>Titulo: {{ titulo }}</h1>
                 <h4><i>Autor(a): <%= me.fullName %></i></h4>
                 <h3>Historia</h3>
                 <p>{{ historia }}</p>
                 <h3>Jogo</h3>
                 <p>{{ jogo }}</p>
              </div>
       
 
        
    </div>
</div>
    
    <div class="conteiner">
        <div class="row">
            
            <div class="col-sm-12">
                
                 <div class="col-sm-12">
 
                    <button v-on:click="appendText(1)">programação</button>
                    <button v-on:click="appendText(2)">arte</button>
                    <button v-on:click="appendText(3)">aúdio</button>
                    <button v-on:click="appendText(4)">Objetivo Pedagogico</button>
                  </div> 
                
                  <div class="col-sm-4" >
      
       <div class="panel-group">
          <div class="panel panel-default" >
             <div  class="panel-heading" style="background-color: cyan" > Programação</div>
             <div id="programacao" class="panel-body"> </div>
          </div>
       </div>
      </div>
    
   
   
     <div class="col-sm-4" >
      
          <div class="panel-group">
            <div class="panel panel-default" >
              <div class="panel-heading" style="background-color: Yellow">Arte</div>
              <div id="arte" class="panel-body">  </div>
            </div>
  	     </div>
     </div>
      
    
    
      <div class="col-sm-4" >
      	
       <div class="panel-group">
        <div class="panel panel-default" >
           <div class="panel-heading" style="background-color: lime">Aúdio</div>
          <div id="ad" class="panel-body"> </div>
        </div>
      </div>
        
      </div>
    
            
    <div class="col-sm-12" >
      	
       <div class="panel-group">
        <div class="panel panel-default" >
           <div class="panel-heading" style="background-color: fuchsia; ">Objetivo Pedagogivo</div>        
            <div  class="panel-body" >
                <div id="op" class="col-sm-4" ></div>
                <div class="col-sm-8" style="background-color: black; border-style: solid; border-width: 2px;" ><h4 style="color: white"> Disciplina - serie</h4>
                    <div class="col-sm-12">
                        <div class="col-sm-4"style="background-color: lightgray; border-style: solid; border-width: 2px;" >Unidade Temática<div class="col-sm-12" style="background-color: white" ></div></div>
                        
                        <div class="col-sm-4"style="background-color: lightgray; border-style: solid; border-width: 2px;" >Objetos de Conhecimento<div class="col-sm-12" style="background-color: white" ></div></div>
                        
                        <div class="col-sm-4"style="background-color: lightgray; border-style: solid; border-width: 2px;" >Habilidades<div class="col-sm-12" style="background-color: white" ></div></div>
                    </div>
                </div>
            
            
            </div>      
              </div>
         </div>
        </div>
        
                
                
      </div>
        
      </div>
           
                
            </div>    
        </div>
    </div>


  </div>  
  </body>
      
<script>



    



</script>    


<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
