<html>
  <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <body>
    <header id="header">
				
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
    	<!-- Nav -->
    
  <nav id="menu">
				<ul class="links">
					<li><a href="index.html">Início</a></li>
					<li><a href="../sobre.ejs">Sobre</a></li>
          <li><a href="login.ejs">Entrar</a></li>
          <li><a href="signup.ejs">Criar conta</a></li>
				</ul>
			</nav>

<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">Entre com sua conta</h1>
    <div class="login-form-container">
      <hr/>
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Informe seu email" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Informe um endereço de email válido.</div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Informe sua senha" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
          <div class="invalid-feedback" v-if="formErrors.password">Informe sua senha.</div>
        </div>
        <div class="form-group">
          <select v-model="formData.perfil" class="form-control" :class="[formErrors.perfil ? 'is-invalid' : '']">
            <option disabled value="">Entrar como...</option>
            <option>Desenvolvedor</option>
            <option>Professor</option>
            <option>Aluno</option>
          </select>
          <div class="invalid-feedback" v-if="formErrors.perfil">Informe seu tipo de perfil.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe"/>
          <label class="form-check-label" for="remember">Lembrar de mim</label>
        </div>
        
        <p class="text-danger" v-if="cloudError==='badCombo'"><small>Dados de entrada inválidos</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Um erro ocorreu ao processar esta ação. Por favor, tente novamente ou <a href="/contact">contate o suporte</a> se o erro persistir.</small></p>
        <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Entrar</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/password/forgot">Esqueceu sua senha?</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

 <script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

  </body>
  			
</html>

