.caixa{
	padding-top: 20px;
}
.caixa .descricao{
	padding-top: 50px;
	padding-left: 50px;

}
.caixa .descricao h1, h2{
	font-family: 'Archivo', sans-serif;
}
.caixa .input{
	padding-top: 50px;
	padding-left: 50px;

}
.caixa .input form input{
	bottom: 5px;
}