<div id="homepageusuario" v-cloak>  
  <div class="container-fluid">
      <h1>Bem vindo(a), <%= me.fullName %>!</h1>
      <hr/>
  </div>    
    
  <!--TURMAS EM QUE O USUÁRIO ESTÁ APARECERIAM AQUI-->
  <div class="container">  
    <div class="row">
      <div  class="col-sm-5">
        <h4 title="Turmas que você participa">Minhas Turmas</h4>
      </div>
      <!--SE ESTIVER COM O PERFIL DE PROFESSOR, MOSTRA A OPÇÃO DE CRIAR TURMA-->
      <div v-if="me.perfil === 'professor'" class="col-sm-2">      
        <a href="#" style="font-size: 13px" title="Criar turma">(+)</a>
      </div>        
      <div title="Estatísticas" class="col-sm-5">
        <h4>Estatísticas</h4>
      </div>
    </div>
        
    <div class="row">
      <div v-if="me.perfil === 'professor'" class="col-sm-5">
        <a href="#" style="font-size: 13px;">Ver todas</a>  
      </div>    
      <div class="col-sm-5">
        <a href="#" style="font-size: 13px;">Ver tudo</a>  
      </div>
    </div>
    <div class="row">    
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>    
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>    
    </div>
            
    <div class="row">
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>
    </div> 
  </div><br><br>
    
  <div class="container">
    <div class="row">
      <!--JOGOS QUE O USUARIO SALVOU-->  
      <div title="Jogos salvos" class="col-sm-5">
        <h4>Meus jogos</h4>
      </div>  
      <!--SE ESTIVER COM O PERFIL DE USUARIO, PODE EDITAR OU REMOVER JOGOS-->
      <div v-if="me.perfil === 'professor'" class="col-sm-2">
        <a href="#" style="font-size: 15px" title="Editar/Remover turmas">(-)</a>
      </div>      
    </div>
    
    <div class="row">
      <div v-if="me.perfil === 'professor'" class="col-sm-6">
        <a href="#" style="font-size: 13px;">Ver todos</a>  
      </div>
    </div>
    <div class="row">    
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>    
    </div>
    <div class="row">
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>
    </div>
  </div>  
</div>    
    <%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
    