<div id="homepageusuario" v-cloak><br>
  <div class="container-fluid">
    <h1>Bem vindo(a), <%= me.fullName %>!</h1>
    <hr/>
  </div><br>
    
  <!--TURMAS EM QUE O USUÁRIO ESTÁ APARECERIAM AQUI-->
  <div class="container">  
    <div class="row">
      <div  class="col-sm-10">
        <h4 title="Turmas que você participa">Minhas Turmas</h4>      
      </div>
    </div>
    <a href="#" style="font-size: 13px;">Gerenciar</a> 
              
















------------------------------------------------------------------------------------------------------    
    <!--CAROUSEL STARTS HERE-->
    <div id="myCarousel" class="carousel slide" data-interval="false">               
      <div class="carousel-inner row w-100 mx-auto">          

        <div class="carousel-item col-sm-3 active">
          <div class="card m-3">
            <div class="card-header">Turma 1</div>
            <div class="card-body">Descrição</div>
          </div>
        </div>      

        <div class="carousel-item col-sm-3">
          <div class="card m-3">
            <div class="card-header">Turma 2</div>
            <div class="card-body">Descrição</div>
          </div>
        </div>
                  
        <div class="carousel-item col-sm-3">
          <div class="card m-3">
            <div class="card-header">Turma 3</div>
            <div class="card-body">Descrição</div>
          </div>
        </div>

        <div class="carousel-item col-sm-3">
          <div class="card m-3">
            <div class="card-header">Turma 4</div>
            <div class="card-body">Descrição</div>
          </div>
        </div>

        <div class="carousel-item col-sm-3">
          <div class="card m-3">
            <div class="card-header">Turma 5</div>
            <div class="card-body">Descrição</div>
          </div>
        </div>

        <div class="carousel-item col-sm-3">
          <div class="card m-3">
            <div class="card-header">Turma 6</div>
            <div class="card-body">Descrição</div>
          </div>
        </div>

        <div class="carousel-item col-sm-3">
          <div class="card m-3">
            <div class="card-header">Turma 7</div>
            <div class="card-body">Descrição</div>
          </div>
        </div>

        <div class="carousel-item col-sm-3">
          <div class="card m-3">
            <div class="card-header">Turma 8</div>
            <div class="card-body">Descrição</div>
          </div>
        </div>
          
      </div>        
      <!--LEFT/RIGHT CONTROLS-->
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
   --------------------------------------------------------------------------
  <div class="container">
    <div class="row">
      <!--JOGOS QUE O USUARIO SALVOU-->  
      <div class="col-sm-10">
        <h4 title="Jogos salvos">Meus jogos</h4>
      </div>  
      <!--SE ESTIVER COM O PERFIL DE USUARIO, PODE EDITAR OU REMOVER JOGOS-->
    </div>
    <a href="#" style="font-size: 13px;">Gerenciar</a>  
  </div>

  <div id="myCarousel" class="carousel slide" data-interval="false">               
    <div class="carousel-inner row w-100 mx-auto">          

      <div class="carousel-item col-sm-3 active">
        <div class="card m-3" title="Clique para ver detalhes sobre o jogo">
          <div class="card-header">Jogo 1</div>
          <div class="card-body">Descrição</div>
        </div>
      </div>

      <div class="carousel-item col-sm-3 active">
        <div class="card m-3" title="Clique para ver detalhes sobre o jogo">
          <div class="card-header">Jogo 2</div>
          <div class="card-body">Descrição</div>
        </div>
      </div>

      <div class="carousel-item col-sm-3 active">
        <div class="card m-3" title="Clique para ver detalhes sobre o jogo">
          <div class="card-header">Jogo 3</div>
          <div class="card-body">Descrição</div>
        </div>
      </div>

      <div class="carousel-item col-sm-3 active">
        <div class="card m-3" title="Clique para ver detalhes sobre o jogo">
          <div class="card-header">Jogo 4</div>
          <div class="card-body">Descrição</div>
        </div>
      </div>

      <div class="carousel-item col-sm-3 active">
        <div class="card m-3" title="Clique para ver detalhes sobre o jogo">
          <div class="card-header">Jogo 5</div>
          <div class="card-body">Descrição</div>
        </div>
      </div>

      <div class="carousel-item col-sm-3 active">
        <div class="card m-3" title="Clique para ver detalhes sobre o jogo">
          <div class="card-header">Jogo 6</div>
          <div class="card-body">Descrição</div>
        </div>
      </div>
          
    </div>



    --------------------------------------------------------------------------

    <div class="row">    
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>    
    </div>
    <div class="row">
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre o jogo" class="card m-3">
        <div class="card-header">Nome do jogo</div>
        <div class="card-body">Descrição</div>
      </div>
    </div>
  </div>
</div>  
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>