<div id="iniciodesenvolvedor" v-cloak>

  <h1>Início</h1>
  <hr/>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <strong>Meus Jogos</strong>
      </div>
      
      <div class="col-md-2">
        <button type="button" class="btn btn-primary">Enviar jogo</button>
      </div>
      
      <div class="col-md-3">
          <strong>Estatísticas</strong> 
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
