<div id="listargames" v-cloak class="col-md-10 offset-md-2">
  <div class="container">
    <h1>Jogos</h1>
    <hr></hr><br>
  </div>
  <div class=row>
    <div class="col-sm-3">
      <div class="card m-4">JOGO</div>      
    </div>
    <div class="col-sm-7">
      <h5>Nome do jogo</h5>
    </div>
  </div>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
