<div id="listargames" v-cloak class="col-md-10 offset-md-2">
  <div class="container">
    <h1>Jogos</h1>
    <hr/>
  </div>
  <div class=row>
    <div class="col-sm-2">
      <div class="card m-3">JOGO</div>      
    </div>
    <div class="col-sm-3"><br>
      <h5><b>Nome:</b></h5>
      <p><b>Descrição: <br>
      Disciplina: <br>
      Série:<br>
      Conteúdo: </b></p>
    </div>
    <div class="col-sm-2">
        <div class="card m-3">JOGO</div>      
      </div>
      <div class="col-sm-3"><br>
        <h5><b>Nome:</b></h5>
        <p><b>Descrição: <br>
        Disciplina: <br>
        Série:<br>
        Conteúdo: </b></p>
      </div>
  </div>
  <div class=row>
    <div class="col-sm-2">
      <div class="card m-4">JOGO</div>      
    </div>
    <div class="col-sm-3"><br>
      <h5><b>Nome:</b></h5>
      <p><b>Descrição: <br>
      Disciplina: <br>
      Série:<br>
      Conteúdo: </b></p>
    </div>
    <div class="col-sm-2">
      <div class="card m-4">JOGO</div>      
    </div>
    <div class="col-sm-3"><br>
      <h5><b>Nome:</b></h5>
      <p><b>Descrição: <br>
      Disciplina: <br>
      Série:<br>
      Conteúdo: </b></p>
    </div>
  </div>
  <div class=row>
    <div class="col-sm-2">
      <div class="card m-4">JOGO</div>      
    </div>
    <div class="col-sm-3"><br>
      <h5><b>Nome:</b></h5>
      <p><b>Descrição: <br>
      Disciplina: <br>
      Série:<br>
      Conteúdo: </b></p>
    </div>
    <div class="col-sm-2">
      <div class="card m-4">JOGO</div>      
    </div>
    <div class="col-sm-3"><br>
      <h5><b>Nome:</b></h5>
      <p><b>Descrição: <br>
      Disciplina: <br>
      Série:<br>
      Conteúdo: </b></p>
    </div>
  </div>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
