<div id="paginadeperfil" v-cloak>
  <div class="container">
    <h1>Minha conta</h1>
    <hr/>
     <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Informações pessoais</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/profile">Editar perfil</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Nome:</div>
      <div class="col"><strong>{{me.fullName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Email:</div>
      <div class="col">
        <strong :class="[me.emailStatus === 'unconfirmed' || me.emailStatus === 'changeRequested' ? 'text-muted' : '']">{{me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress}}</strong>
        <span v-if="me.emailStatus === 'unconfirmed' || me.emailStatus === 'changeRequested'" class="badge badge-pill badge-warning">Unverified</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Perfil:</div>
      <div class="col"><strong>{{me.perfil}}</strong></div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Senha</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/password">Mudar senha</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Senha:</div>
      <div class="col"><strong>••••••••••</strong></div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

<!--
<h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/paginadeperfil.less</em>, <em>assets/js/pages/paginadeperfil.page.js</em>, and <em>api/controllers/view-paginadeperfil.js</em>.)</p>

Successfully generated:
 •- views/pages/paginadeperfil.ejs
 •- api/controllers/view-paginadeperfil.js
 •- assets/styles/pages/paginadeperfil.less
 •- assets/js/pages/paginadeperfil.page.js

A few reminders:
 (1)  These files were generated assuming your Sails app is using
      Vue.js as its front-end framework.  (If you're unsure,
      head over to https://sailsjs.com/support)

 (2)  You'll need to manually add a route for this new page's
      action in your `config/routes.js` file; e.g.
          'GET /paginadeperfil': { action: 'view-paginadeperfil' },

 (3)  You'll need to manually import the new LESS stylesheet
      from your `assets/styles/importer.less` file; e.g.
          @import 'pages/paginadeperfil.less';

 (4)  Last but not least, since some of the above are backend changes,
      don't forget to re-lift the server before testing!
-->