<div id="paginadeperfil" v-cloak>
  <div class="container">
     <div class="col"> 
       <div class="row">Nome: {{me.fullName}}</div>
       <div class="row">Email: {{me.emailAddress}}</div>
       <div class="row">Perfil: {{me.perfil}}</div>
     </div>
    <div v-if="me.perfil === 'professor'"><button  type="button" class="btn btn-primary">Criar turma</button></div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

<!--
<h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/paginadeperfil.less</em>, <em>assets/js/pages/paginadeperfil.page.js</em>, and <em>api/controllers/view-paginadeperfil.js</em>.)</p>

Successfully generated:
 •- views/pages/paginadeperfil.ejs
 •- api/controllers/view-paginadeperfil.js
 •- assets/styles/pages/paginadeperfil.less
 •- assets/js/pages/paginadeperfil.page.js

A few reminders:
 (1)  These files were generated assuming your Sails app is using
      Vue.js as its front-end framework.  (If you're unsure,
      head over to https://sailsjs.com/support)

 (2)  You'll need to manually add a route for this new page's
      action in your `config/routes.js` file; e.g.
          'GET /paginadeperfil': { action: 'view-paginadeperfil' },

 (3)  You'll need to manually import the new LESS stylesheet
      from your `assets/styles/importer.less` file; e.g.
          @import 'pages/paginadeperfil.less';

 (4)  Last but not least, since some of the above are backend changes,
      don't forget to re-lift the server before testing!
-->