<head>
<!--   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  
     <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      
       th {
         height: 30px;
         width: 10%;
         text-align: center;
         color: white;
       }
       
       td {
         width: 5%;
         text-align: center;
         color: white;
       }
       
       h2 {
         text-align: center;
         font-family: calibri;
       }
       
    </style>
</head>

<div id="tabelasgdd" v-cloak>
    <h2>Tabela SGDDEDU</h2>
  </div>
 
 <!-- <table class= "table-table bordered"> -->
   <table style = "width= 100%">
    <tr>
      <th colspan = "4" bgcolor="#4295f4"> LINGUAGENS </th>
      <th bgcolor="#d81111"> MATEMÁTICA </th>
      <th bgcolor="#68d666"> CIÊNCIAS DA NATUREZA </th>
      <th colspan = "2" bgcolor="#f47141"> CIÊNCIAS HUMANAS </th>
      <th bgcolor="#31b0b2"> ENSINO RELIGIOSO </th>
     </tr>
  
    <tr>
     <td bgcolor="#4295f4"> <b> Língua Portuguesa </td> </b>
     <td bgcolor="#4295f4"> <b> Arte </td> </b>
     <td bgcolor="#4295f4"> <b> Educação Física </td> </b>
     <td bgcolor="#4295f4"> <b> Língua Inglesa </td> </b>
     <td bgcolor="#d81111"> <b> Matemática </td> </b>
     <td bgcolor="#68d666"> <b> Ciências </td> </b>
     <td bgcolor="#f47141"> <b> Geografia </td> </b>
     <td bgcolor="#f47141"> <b> História </td> </b>
     <td bgcolor="#31b0b2"> <b> Ensino Religioso </td> </b>
  </tr>

    <tr>
      <td bgcolor="#4b7e7f"> 1º ano </td>
      <td rowspan = "5" bgcolor="#4b7e7f"> 1º ao 5º ano </td>
      <td rowspan = "2" bgcolor="#4b7e7f"> 1º e 2º ano </td>
      <th rowspan = "5">  </th>
      <td bgcolor="#4b7e7f"> 1º ano </th>
      <td bgcolor="#4b7e7f"> 1º ano </th>
      <td bgcolor="#4b7e7f"> 1º ano </th>
      <td bgcolor="#4b7e7f"> 1º ano </th>
      <td bgcolor="#4b7e7f"> 1º ano </td>
    </tr>

    <tr>
      <td bgcolor="#4b7e7f"> 2º ano </td>
      <td bgcolor="#4b7e7f"> 2º ano </td>
      <td bgcolor="#4b7e7f"> 2º ano </td>
      <td bgcolor="#4b7e7f"> 2º ano </td>
      <td bgcolor="#4b7e7f"> 2º ano </td>
      <td bgcolor="#4b7e7f"> 2º ano </td>
    </tr>
    
    <tr>
      <td bgcolor="#4b7e7f"> 3º ano </td>
      <td rowspan = "3" bgcolor="#4b7e7f"> 3º ao 5º ano </td>
      <td bgcolor="#4b7e7f"> 3º ano </td>
      <td bgcolor="#4b7e7f"> 3º ano </td>
      <td bgcolor="#4b7e7f"> 3º ano </td>
      <td bgcolor="#4b7e7f"> 3º ano </td>
      <td bgcolor="#4b7e7f"> 3º ano </td>
</tr>
    
    <tr>
      <td bgcolor="#4b7e7f"> 4º ano </td>
      <td bgcolor="#4b7e7f"> 4º ano </td>
      <td bgcolor="#4b7e7f"> 4º ano </td>
      <td bgcolor="#4b7e7f"> 4º ano </td>
      <td bgcolor="#4b7e7f"> 4º ano </td>
      <td bgcolor="#4b7e7f"> 4º ano </td>
</tr>

    <tr>
      <td bgcolor="#4b7e7f"> 5º ano </td>
      <td bgcolor="#4b7e7f"> 5º ano </td>
      <td bgcolor="#4b7e7f"> 5º ano </td>
      <td bgcolor="#4b7e7f"> 5º ano </td>
      <td bgcolor="#4b7e7f"> 5º ano </td>
      <td bgcolor="#4b7e7f"> 5º ano </td>
</tr>

    <tr> 
      <td bgcolor="#4b7e7f"> 6º ano </td>
      <td rowspan = "4" bgcolor="#4b7e7f"> 6º ao 9º ano </td>
      <td rowspan = "2" bgcolor="#4b7e7f"> 6º e 7º ano </td>
      <td bgcolor="#4b7e7f"> 6º ano </td>
      <td bgcolor="#4b7e7f"> 6º ano </td>
      <td bgcolor="#4b7e7f"> 6º ano </td>
      <td bgcolor="#4b7e7f"> 6º ano </td>
      <td bgcolor="#4b7e7f"> 6º ano </td>
      <td bgcolor="#4b7e7f"> 6º ano </td>
</tr>
  
    <tr>
      <td bgcolor="#4b7e7f"> 7º ano </td>
      <td bgcolor="#4b7e7f"> 7º ano </td>
      <td bgcolor="#4b7e7f"> 7º ano </td>
      <td bgcolor="#4b7e7f"> 7º ano </td>
      <td bgcolor="#4b7e7f"> 7º ano </td>
      <td bgcolor="#4b7e7f"> 7º ano </td>
      <td bgcolor="#4b7e7f"> 7º ano </td>
</tr>
  
    <tr>
      <td bgcolor="#4b7e7f"> 8º ano </td>
      <td rowspan = "2" bgcolor="#4b7e7f"> 8º e 9º ano </td> 
      <td bgcolor="#4b7e7f"> 8º ano </td>
      <td bgcolor="#4b7e7f"> 8º ano </td>
      <td bgcolor="#4b7e7f"> 8º ano </td>
      <td bgcolor="#4b7e7f"> 8º ano </td>
      <td bgcolor="#4b7e7f"> 8º ano </td>
      <td bgcolor="#4b7e7f"> 8º ano </td>
</tr>

    <tr>
      <td bgcolor="#4b7e7f"> 9º ano </td>
      <td bgcolor="#4b7e7f"> 9º ano </td>
      <td bgcolor="#4b7e7f"> 9º ano </td>
      <td bgcolor="#4b7e7f"> 9º ano </td>
      <td bgcolor="#4b7e7f"> 9º ano </td>
      <td bgcolor="#4b7e7f"> 9º ano </td>
      <td bgcolor="#4b7e7f"> 9º ano </td>
</tr>
  </table>
<!-- </table> -->
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
