<div id="turmas" v-cloak>
  <div class="container">
      <h1>Turmas</h1>
    <hr/>
    <!--TURMAS EM QUE O USUÁRIO ESTÁ APARECERIAM AQUI-->
    <div class="row">
      <div title="Turmas em que você está" class="col-sm-6">
        <h4>Minhas Turmas</h4>
      </div>
      <!--SE ESTIVER COM O PERFIL DE PROFESSOR, MOSTRA A OPÇÃO DE CRIAR TURMA-->
      <div class="col-sm-6">
        <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#modal" href="#">Criar turma</button>
        <!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Criar turma</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="turma/create">
          <input type="textarea" v-model="nome">
          <input type="textarea" id="<%= id %>" style="display: none">
          <input type="textarea" v-model="descricao">
          <input type="textarea" v-model="codigo">
          <!-- ** LEMBRETE ** 
          Gerar codigo automaticamente -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
      </div>

    </div>
    <div class="row">
      <div v-for="turma_own in turmas_own" href="">
        <div title="Clique para ver detalhes sobre a turma" class="card m-3">
          <div class="card-header bg-success">{{ turma_own.nome }}</div>
          <div class="card-body">{{ turma_own.descricao }}</div>
        </div>
      </div>
      <div v-for="turma in turmas" href="">
        <div title="Clique para ver detalhes sobre a turma" class="card m-3">
          <div class="card-header bg-info">{{ turma.nome }}</div>
          <div class="card-body">{{ turma.descricao }}</div>
        </div>
      </div>
     
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

  <!--
•- views/pages/turmas.ejs
 •- api/controllers/view-turmas.js
 •- assets/styles/pages/turmas.less
 •- assets/js/pages/turmas.page.js

<h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/turmas.less</em>, <em>assets/js/pages/turmas.page.js</em>, and <em>api/controllers/view-turmas.js</em>.)</p>

-->