<div id="turmas" v-cloak>
  <div class="container">
      <h1>Turmas</h1>
    <hr/>
    <!--TURMAS EM QUE O USUÁRIO ESTÁ APARECERIAM AQUI-->
    <div class="row">
      <div title="Turmas em que você está" class="col-sm-6">
        <h4>Minhas Turmas</h4>
      </div>
      <!--SE ESTIVER COM O PERFIL DE PROFESSOR, MOSTRA A OPÇÃO DE CRIAR TURMA-->
      <div v-if="me.perfil === 'professor'" class="col-sm-6">
        <a class="btn btn-sm btn-outline-info account-settings-button" href="#">Criar turma</a>
      </div>
    </div>
    <div class="row">
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>
      <div title="Clique para ver detalhes sobre a turma" class="card m-3">
        <div class="card-header">Nome da turma</div>
        <div class="card-body">Descrição</div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

  <!--
•- views/pages/turmas.ejs
 •- api/controllers/view-turmas.js
 •- assets/styles/pages/turmas.less
 •- assets/js/pages/turmas.page.js

<h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/turmas.less</em>, <em>assets/js/pages/turmas.page.js</em>, and <em>api/controllers/view-turmas.js</em>.)</p>

-->