<div id="turmas" v-cloak>
	<div class="container">
    <h1>Turmas</h1>
    <hr/>
    <div class="row">
   	<div class="col-4 mr-auto"><h3>Suas Turmas:</h3></div>
    <!-- Se o usuário estiver logado como professor, mostrar botão de criar turma -->
    <div v-if="me.perfil === 'professor'" class="col-auto">
    	<button class="btn btn-dark">Criar turma</button></div>
    </div>
    
    
    <!-- Listagem das turmas do usuário -->
    <div class="list-group">
  		<a href="#" class="list-group-item list-group-item-action ">Turma 1</a>
  		<a href="#" class="list-group-item list-group-item-action">Turma 2</a>
  		<a href="#" class="list-group-item list-group-item-action">Turma 3</a>
  		<a href="#" class="list-group-item list-group-item-action">Turma 4</a>
  		<a href="#" class="list-group-item list-group-item-action ">Turma 5</a>
    </div>  
    
  </div>
  
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
